*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#050505;
color:white;
padding:20px;
}

header{
margin-bottom:25px;
}

h1{
font-size:2rem;
color:#57ffe6;
}

.top-bar{
display:flex;
gap:10px;
margin-top:15px;
}

.top-bar input{
flex:1;
padding:12px;
border:none;
border-radius:15px;
background:#111;
color:white;
}

.top-bar button{
background:#57ffe6;
border:none;
padding:12px 18px;
border-radius:15px;
font-weight:bold;
cursor:pointer;
}

.hero{
background:linear-gradient(
135deg,
#0a0a0a,
#102a2a
);

padding:20px;
border-radius:25px;
margin-bottom:20px;
}

.drama-grid{
display:grid;
grid-template-columns:repeat(
auto-fill,
minmax(170px,1fr)
);

gap:20px;
}

.card{
background:#111;
border-radius:22px;
overflow:hidden;
cursor:pointer;
transition:0.3s;
}

.card:hover{
transform:translateY(-6px);
}

.card img{
width:100%;
height:260px;
object-fit:cover;
}

.card-content{
padding:12px;
}

.genre{
color:#57ffe6;
font-size:13px;
}

.rating{
background:#57ffe6;
color:black;
padding:4px 10px;
border-radius:15px;
display:inline-block;
margin-top:6px;
font-weight:bold;
}

.status{
margin-top:8px;
font-size:13px;
}

.actions{
display:flex;
justify-content:space-between;
margin-top:10px;
}

.delete-btn{
background:red;
border:none;
padding:8px;
border-radius:10px;
color:white;
}

.watch-btn{
background:#57ffe6;
border:none;
padding:8px;
border-radius:10px;
}

.modal{
display:none;
position:fixed;
inset:0;
background:rgba(0,0,0,.8);
}

.modal-content{
background:#111;
padding:20px;
width:90%;
max-width:450px;
margin:50px auto;
border-radius:20px;
}

.modal-content input{
width:100%;
padding:12px;
margin:8px 0;
background:#1d1d1d;
border:none;
border-radius:12px;
color:white;
}